.header {
  background-color: #ccc;
}

.mycontent {
  margin: 10px 0;

  box-shadow: 0 0 2px 3px rgba(202, 198, 198, 0.445);
  word-wrap: break-word;
}
div.mycontent .item .post-title {
  margin: 0;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
}

div.mycontent .item .post-body {
  margin: 0;
  padding: 0 15px;
}
div.mycontent .item .post-content {
  margin: 0;
  padding: 15px;
}
.post-content ul ol li {
  background-color: aqua;
  padding: 10px;
}
.post-insert {
  padding: 15px;
}
.post-intro p {
  word-wrap: break-word;
}

/* drop down */

div.drop-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown {
  position: absolute;
  top: 30px;
  right: 0px;
  list-style-type: none;
  background-color: rgb(255, 254, 254);
  width: 150px;
  box-shadow: 0 0 10px 1px #ccc;
  z-index: 1;
  display: none;
}
.dropdown li {
  padding: 10px;
  cursor: pointer;
}
.dropdown li:hover {
  background-color: #ccc;
}
.toggle-dropdown {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.toggle-dropdown {
  color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}
a.toggle-dropdown:hover {
  background-color: rgba(34, 30, 30, 0.473);
}
.dropdown a {
  color: black;
  text-decoration: none;
}

/* Remove the navbar's default margin-bottom and rounded borders */

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
